/* custom scrollbar for scrolling */
.main-content::-webkit-scrollbar {
        width: 8px;
}
.main-content::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 4px;
}
/* settng height of mapbox */
#map-container {
        height: 100%; 
        border-radius: 0.75rem; 
        overflow: hidden;
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
       